body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
    height: 100vh;
}

/* 왼쪽 Control 영역 */
.control_view {
    width: 200px;
    background-color: #e0e0e0;
    border-right: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 오른쪽 영역 */
.main_area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.visualization_view {
    flex: 3;
    background-color: #f5f5f5;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information_view {
    flex: 1;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    font-size: 24px;
}
